* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
}

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 1pc;
}

.container-header img {
  height: 2pc;
  display: flex;
  padding: 2pc;
}

.section1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/netflix/IMG-20230816-WA0034.jpg");
  flex-direction: column;
  gap: 1pc;
}
.bg {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg h1 {
  text-align: center;
  font-family: Monospace;
  font-size: 3pc;
  font-weight: bold;
}

.bg p {
  text-align: center;
  font-size: 1.5pc;
}

.inicio-sesion {
  border: none;
  border-radius: 3px;
  padding: 0 1pc;
  height: 2pc;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5pc;
}

.inicio-sesion button {
  background-color: #e50914;
  border-radius: 3px;
  padding: 0 1pc;
  height: 2pc;
  width: 30%;
  color: white;
  font-size: 15px;
  border: none;
}

.section2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  gap: 1pc;
}
.izq {
  flex-direction: column;
  display: flex;
  padding: 5pc;
  width: 50%;
  align-items: left;
  justify-content: space-between;
}

.der {
  width: 50%;
  display: flex;
  align-items: justify-center;
}
.der img {
  height: 15pc;
}
